[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
    display: none !important; 
}

input {
    display: block;
    margin-top: 2em;
    border: 1px solid #ddd;
}

input:focus {
    outline:0px !important;
    -webkit-appearance: none;
}

.btn {
    border-radius: 0px;
}

.angular-color-picker > ._hues > ._cursor {
    left: -5px;
    width: 38px;
}

.color-placeholder { margin-top: 2em; }

.color-div-name {
    background: white;
}

.color-div {
    margin-bottom: 1em;
    height: 100px;
    width: 150px;
    border: 1px solid #ddd;
}
